<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<app-info-card></app-info-card>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- <app-sales></app-sales> -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-sales-income></app-sales-income>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-device-visits></app-device-visits>
    </div>
    <!-- column -->

    <!-- column -->
    <div class="col-sm-12 col-lg-8">
        <app-visitors></app-visitors>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->